.name{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #090;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    width: 100%;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


#one{
    animation-direction: normal;
}

#two{
    animation-direction: reverse;
}

#three{
    animation-direction: alternate;
}

#four{
    animation-direction: alternate-reverse;
}

@keyframes text {
   from{
 margin-left:  60%;
   }
   
   to {
       margin-left: 0%;
    }
}